{% extends 'recommend/base.html' %}
{% block body %}
<div class="mt-5">
    <div class="container text-white">
        <h2 class="text-center">About MovieFinder</h2>
        <hr>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="text-center">
                    Welcome to MovieFinder, your go-to platform for discovering, exploring, and enjoying a vast collection of movies! Whether you're a dedicated cinephile or just looking for your next movie night selection, MovieFinder is designed to enhance your movie-watching experience.
                </p>

                <p class="text-center">
                    Our platform offers a seamless and user-friendly interface, allowing you to search for movies, read reviews, and receive personalized recommendations based on your preferences. From the latest releases to timeless classics, MovieFinder is your gateway to the world of cinema.
                </p>

                <p class="text-center">
                    At MovieFinder, we're driven by a passion for movies and a commitment to building a community of movie enthusiasts. Connect with like-minded individuals, share your favorite picks, and stay informed about the latest in the cinematic world.
                </p>

                <p class="text-center">
                    Thank you for being part of the MovieFinder community. Happy watching!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
