{% extends 'recommend/base.html' %}
{% block body %}

<div class="container mt-5 text-white">
    <h2 class="mb-4 text-white">My List</h2>
    <hr>

    {% if movies %}
        <!-- Movie list -->
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ movie.movie_logo.url }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.genre }}</p>
                            <a href="{% url 'detail' movie.id %}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination links -->
        <div class="mt-4">
            <span class="step-links">
                {% if movies.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ movies.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
                </span>

                {% if movies.has_next %}
                    <a href="?page={{ movies.next_page_number }}">next</a>
                    <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <!-- No movies message -->
        <div class="alert alert-danger mt-4">
            <strong>Sorry!</strong> No movies in your list.
        </div>
    {% endif %}

</div>

<style>
    body {
        background-color: #f8f9fa; /* Set the background color to a light gray shade */
    }

    .card {
        transition: transform 0.2s; /* Add a smooth transition effect to the cards */
    }

    .card:hover {
        transform: scale(1.05); /* Enlarge the card on hover for a subtle effect */
    }
</style>

{% endblock %}
